
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "游ゴシック","ヒラギノ角ゴ ProN",sans-serif;
}
html{
    scroll-behavior: smooth;
}
main{
    margin: 40px 0 auto 40px;
}
.err{
    color: red;
    font-weight: 700;
}
div{
    margin:5px 0;
}
button{
    margin: 20px 0;
}